<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="flex flex-col">
    <%- include('sidebar') %>
    <div>
      <h>Delete Category</h>
      <div>
        <p>Are you sure you want to delete <%= category.name %>?</p>
        <form method="post" action="">
          <button type="submit" name="id" value="<%= category.id %>">
            Delete category
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
