<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="flex bg-zinc-700 text-white">
    <%- include('sidebar') %>
    <div>
      <h>Delete Product</h>
      <div>
        <p>Are you sure you want to delete <%= item.name %>?</p>
        <form method="post" action="">
          <button type="submit" name="id" value="<%= item.id %>">
            Delete product
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
