<div>
  <ul>
    <li><a href="/products">All products</a></li>
    <li><a href="/categories">All categories</a></li>
    <li><a href="/products/create">Add product to inventory</a></li>
    <li><a href="/categories/create"></a>Add category</li>
  </ul>
</div>
