<div class="py-3">
  <a class="bg-green-500 rounded-md p-3" href="./<%= id %>/update"
    >Update <%= type %></a
  >
  <a class="bg-red-500 rounded-md p-3" href="./<%= id %>/delete"
    >Delete <%= type %></a
  >
</div>
